/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26.11.2019, 9:27:49
    Author     : Emmi Laine
*/

@import url('https://fonts.googleapis.com/css?family=Tomorrow|Playfair+Display&display=swap');

/*@media only screen and (min-width: 576px) {
    html {
        height: 100%;
    }
    
    body {
        min-height: 100%;
    }
    
}*/

/*
jos vastaus visassa on oikein tai väärin, niin väri muuttuu
*/
.oikein {
    background-color: greenyellow;
}

.vaarin {
    background-color: orangered;
}
/*
   lihavoidaan oikean vastauksen teksti 
*/
.oikea {
    font-weight: bold;
    color: black !important;
}

.vastaus {
    color: black !important;
}
/*
  class, jotta saadaan turhat tekstit ja kuvat piilotettua  
*/
.piilotettu {
    display: none;
}
/*
  muutetaan tekstien kokoa  
*/
label {
    font-size: 22px;
}

p {
    font-size: 27px;
}

/*
   tassujen kuvien värien muutos 
*/
.fa-paw {
    color: #1E8E02;
}

.vt {
    color: #A71313;
}
/*
    palkinto pokaalin värin muutos
*/
.palkinto{
     color: yellow;
}
/*
   piilotetaan ylimääräiset tekstit
*/
.esiin {
    visibility: hidden;
    display: none;
}

/*
matikkapelin piilota class
*/
.mpiilota, 
.piilota {
    display: none;
}

/*
fontti koko
*/
.matikka {
    font-size: 18px;
}

.matikka2 {
    font-size: 20px;
}

/*
jos ei ole vastaa kaikkiin tehtäviin tekstin säätöjä 
*/
.vastaa {
    color: darkred;
    font-weight: bold;
}

/*
visan palkinnon koko muutos
*/
#palkinto {
    font-size: 50px;
}
/*
 fontti asetuksia
*/
.vo_fontti {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
/*
 fontti asetuksia
*/
.visa_fontti {
    font-family: 'Playfair Display', serif;
}
/*
 fontti asetuksia
*/
.f_koko {
    font-size: 27px;
}
/*
 fontti asetuksia
*/
.t_koko {
    font-size: 22px;
    text-align: left;
}
/*
matikan modaalin fontti asetukset
*/
.mo_fontti {
    font-family: 'Tomorrow', sans-serif;
}
/*
matikan modaalin fontti asetukset
*/
.modal_fontti {
    font-family: 'Tomorrow', sans-serif;
    background-color: #e6ffe6;
}

/*
matikan modaalin kuvaan border
*/
.kuva {
    border: solid 2px green;
}