@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

.oikein {
    background-color:#00ff00;

}
.vaarin {
    background-color: red;
}
.oikea_vastaus {
    font-weight: bold;
    color: black !important;
}
.vastaus_teksti {
    color: black !important;
}
.hided {
    display: none;
}
.teksti1 {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #003300;
}

.teksti2 {
    margin-top: 75px;
    font-size: 30px;
    font-weight: bold;
    color: #003300;
}

/*Aloitanappi on tehty käyttäen tätä sivua: https://www.cssgenerators.net/?no=40&lang=fi*/
.Aloitanappi {
    font-weight:bold;
    text-decoration:none;
    font-family: 'Righteous', cursive;
    box-shadow:inset #f0dddd 0px 0px 0px 3px,#c4c4c4 0px 5px 0px;
    o-box-shadow:inset #f0dddd 0px 0px 0px 3px,#c4c4c4 0px 5px 0px;
    -moz-box-shadow:inset #f0dddd 0px 0px 0px 3px,#c4c4c4 0px 5px 0px;
    -webkit-box-shadow:inset #f0dddd 0px 0px 0px 3px,#c4c4c4 0px 5px 0px;
    background:#ad2323;
    background:-o-linear-gradient(90deg, #ad2323, #f20000);
    background:-moz-linear-gradient( center top, #ad2323 5%, #f20000 100% );
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ad2323), color-stop(1, #f20000) );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad2323', endColorstr='#f20000');
    background:-webkit-linear-gradient(#ad2323, #f20000);
    background:-ms-linear-gradient(#ad2323, #f20000);
    background:linear-gradient(#ad2323, #f20000);
    text-indent:0px;
    line-height:182px;
    -moz-border-radius:100px;
    -webkit-border-radius:100px;
    border-radius:200px;
    text-align:center;
    vertical-align:middle;
    display:inline-block;
    font-size:60px;
    color:white;
    width:275px;
    height:275px;
    padding:0px;
    border-color:#fcf9fc;
    border-width:4px;
    border-style:solid;
}

.Aloitanappi:active {
    box-shadow:inset #f0dddd 0px 0px 0px 3px,#c4c4c4 0px 0 0px;
    o-box-shadow:inset #f0dddd 0px 0px 0px 3px,#c4c4c4 0px 0 0px;
    -moz-box-shadow:inset #f0dddd 0px 0px 0px 3px,#c4c4c4 0px 0 0px;
    -webkit-box-shadow:inset #f0dddd 0px 0px 0px 3px,#c4c4c4 0px 0 0px;
    position:relative;
    top:5px
}

.Aloitanappi:hover {
    background:#f20000;
    background:-o-linear-gradient(90deg, #f20000, #ad2323);
    background:-moz-linear-gradient( center top, #f20000 5%, #ad2323 100% );
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f20000), color-stop(1, #ad2323) );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f20000', endColorstr='#ad2323');
    background:-webkit-linear-gradient(#f20000, #ad2323);
    background:-ms-linear-gradient(#f20000, #ad2323);
    background:linear-gradient(#f20000, #ad2323);
}
.vilkku {
    animation-name: vilkku;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes vilkku {
    from {color: #1aff1a;}
    to {color: #009900;}
}
.vilkku2 {
    animation-name: vilkku2;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes vilkku2 {
    from {color: #9c2828;}
    to {color: red;}
}
.vihrea {
    color: green;
}
/*Media library, jotta saa pienien näyttöjen responsiivisuuden toimimaan.*/

@media screen and (max-width: 767px) {
    .piiloon {
        display: none;
    }
    .pieni {
        font-size: 30px;
    }
    .keskelle {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
    .aloitanappi {
    width:150px;
    height:150px;
    font-size:30px;
    line-height:150px;
    }
    .teksti1 {
        font-size: 18px;
    }
    .koko{
    height: 175px;
    width: 175px;
}
}
input[type=text] {
  border: 2px solid #2fdded;
  border-radius: 4px;
}
.modalasettelu{
  background-color: #44a9d5;
}
.teksti3 {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #44a9d5;
}