@import url('https://fonts.googleapis.com/css?family=Calistoga&display=swap');

.oikein{
    color: greenyellow;
}

.vaarin{
    background-color: red;
}

.oikea_vastaus{
    font-weight: bold;
    color: black !important;
}

.vastaus_teksti{
    color:greenyellow !important;
}

.hided{
display: none;
}

.seuraava3,
.pisteet{
    font-family: 'Calistoga', cursive;
     
}
.tarkista,
#arvo,
.takaisin {
    font-family: 'Calistoga', cursive;
}
li{
list-style-type: none;
display: inline;
}

.keltainen{
    color:yellow;
}
.punainen{
    color:#d9534f;
}
.kulta{
color: gold;
}
.hopea{
color: silver;
}
.pronssi{
color: #cd7f32;
}

ul{
    padding: 0;
}
p,
label,
h3
{
    font-family: 'Calistoga', cursive;

}


.laskut span,
#VastausOikein{
    font-size: 32px;
    font-family: 'Calistoga', cursive;
    
    
   
}

#laskuri{
    font-size: 25px;
}

/* @media only screen and (min-width: 576px) {
    html {
        height: 100%;
    }
    
    body {
        min-height: 100%;

    }
   
    
    
} */
@media only screen and (max-width: 576px) {
    
    .punainenjelly {
        display: flex !important;
        justify-content: center;
    }
    
    
}










