@import url('https://fonts.googleapis.com/css?family=Ubuntu|Audiowide&display=swap');


/*visan määrittelyitä*/
.modal-header {
    background-color: #44a9d5;
    border: none;
    font-size: 2em;
}

.modal-body,
.modal-footer{
    background-color: #c1e2f1;
    border: none;
}

.oikein {
    background-color: #28a745;
}

.vaarin {
    background-color: crimson;
}

.oikea_vastaus {
    font-weight: bold !important;
    color: black !important;
}

.vastaus_teksti {
    color: black !important;
}

.piilo {
    display: none;
}

.visa {
    font-size: 22px;

}

.list-group-item {
    padding: 5px 0px 0px 0px;
    border: none;
    background-color: transparent;
}

.tulos {
    font-family: 'Audiowide', cursive;
    font-size: 30px;
}

.visaots {
    font-family: 'Audiowide', cursive;
}

.vastaa {
    margin-left: -15px;
}

.valinta {
    border-radius: 8px;
}


/*Matikkavisan määrittelyt*/

.matikkaotsikko{
    font-family: 'Ubuntu', cursive;
}

.btn_reuna {
    background-color: #acd9ec;
    border: solid #44a9d5;
}

.peukku {
    font-size: 2em;
    color: #1e7b34
}

