
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

/*Yleiset määrittelyt*/
body {
    background: linear-gradient(to bottom, #6ebcde 0%, #33cc33 100%);
}

h1,
h2,
h3,
h4{
    font-family: 'Righteous', cursive;
    color: #003300;
}

footer {
    font-family: 'Righteous', cursive;
    color: #003300;
    background-color: #28a745;
}

.list-group-item {
    border: none;
    padding: 5px 0px 0px 0px;
    background-color: transparent;
}

a,
a:hover,
a:visited{
    color: #003300;
    text-decoration: none;
}

 /*Navigaatiopalkin määrittelyt*/
 
.nav_tausta {
    background-color: #44a9d5;
}

.nav-link {
 
    font-family: 'Righteous', cursive;
    color: #003300;
    font-size: 22px;
    border-radius: 10px;
}

.nav-link:hover {
   background-color: #59b3d9;
    color: #003300;
}

.dropdown-item {
 
    color: #003300;
    font-size: 18px;
}

.dropdown-item:hover {
   background-color: #44a9d5;
   font-weight: bold;
}

.dropdown-menu {
    border: none;
    background-color: #c1e2f1;
}

.navbar-toggler {
    border-color: black;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}


